# Visual Studio Code configuration files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-workspace

# Local history / Workspace storage
.history/
.ionide/

